.color-base {
  color: #000;
}

.color-basic {
  color: #000;
}

.color-primary {
  color: #000;
}

.color-secondary {
  color: #000;
}

.color-third {
  color: #000;
}

.color-current {
  color: currentColor;
}